@model MyCountries.Web.Models.ContactModel
@{
  ViewBag.Title = "Contact";
}

@section Scripts {
  <script src="~/lib/jquery-validation/jquery.validate.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<!-- Main-bar Column -->
<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">

  <h2>@ViewBag.Title.</h2>
  <h3>@ViewBag.Message</h3>
  <div class="well well-lg br-white">

    <div class="page-mainbar contactus">
      <!-- Contact Us Form -->
      <div class="contact-form">
        <form role="form" method="post">
          @if (ViewBag.Result != null)
          {
            <div class="text-primary">@ViewBag.Result</div>
          }
          @Html.ValidationSummary(true)
          <div class="form-group">
            <!-- form input -->
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
          </div>
          <div class="form-group">
            <!-- form input -->
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
          </div>
          <div class="form-group">
            <!-- form textarea -->
            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", Placeholder = "Comments", Rows = 4 })
            @Html.ValidationMessageFor(m => m.Comments, null, new { @class = "text-danger" })
          </div>
          <div class="form-group">
            <!-- form Submit and reset button -->
            <button type="submit" class="btn btn-info">Submit</button>&nbsp;
            <button type="reset" class="btn btn-default">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
